body {
  margin: 0;
  background-color: gainsboro;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
}

h1 {
  font-size: 2em;
  text-align: center;
  padding-top: 100px;
}

p {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

.buttons {
  display: flex;
  justify-content: center;
}

button {
  border: none;
  font-size: 3rem;
  margin: 0 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

button:hover {
  opacity: 0.7;
}

#rock {
  background-color: red;
}
#paper {
  background-color: rgb(14, 127, 233);
}
#scissors {
  background-color: green;
}

#user-score {
  color: tomato;
}

#computer-score {
  color: turquoise;
}
